{% extends 'base.html.twig' %}

{% block title %}Ajouter une Category{% endblock %}

{% block body %}

    {% include 'Form/_form.html.twig' %}

    <h1>La catégorie {{ category.name }} a bien été ajoutée</h1>
    <a href="{{ path('category_index') }}" class="btn btn-dark">Retour</a>


{% endblock %}