<!-- Nav tabs -->
<nav class="navbar navbar-expand-lg  ">
    <a class="navbar-brand" href="#">
        <img class="logo navbar" src="/assets/image/retro-television.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">WILD SERIES</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Programs <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Seasons <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Episodes <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Categories <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <ul class="navbar-nav ">
            <li class="nav-item active text-right">
                <a class="inscription" href="#">Inscription</a>
                <a class="inscription" href="#">Connexion</a>
            </li>
        </ul>
    </div>
</nav>

